# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
flutter_*.png
linked_*.ds
unlinked*.ds

# Android
.gradle/
**/android/.cxx/
**/android/**/gradle-wrapper.jar
/local.properties
**/android/key.properties
**/android/key.jks
*.keystore
**/android/**/*.keystore
*.jks
*.apk
*.aab
*.ipa
*.app
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Rust
rust/target/
**/target/

# Native assets build output
**/native_assets/
